.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #111111;
}

.main-title {
  font-size: 3em;
  color: white;
  margin: 10px;
  margin-right: 35px;
  margin-left: 35px;
  cursor: pointer;
}
